# 1.0 - IMPORTAÇÃO DE PACOTES

In [6]:
# Manipulação de Dados
import numpy as np
import pandas as pd

# Visualização de Dados
import matplotlib.pyplot as plt
import matplotlib as mpl

## 1.0.1 - VERSÕES DOS PACOTES INSTALADOS

In [9]:
%reload_ext watermark
%watermark -a 'Versões dos pacotes instalados neste projeto' --iversions

matplotlib 3.3.2
pandas     1.1.3
numpy      1.19.2
Versões dos pacotes instalados neste projeto

# 2.0 - CARREGAMENTO DO DATASET

In [10]:
dados_treino = pd.read_csv('dataset4.txt')

In [12]:
dados_teste = pd.read_csv('dataset5.txt')

In [13]:
dados_teste.head()

      ID          Datetime
0  18288  26-09-2019 00:00
1  18289  26-09-2019 01:00
2  18290  26-09-2019 02:00
3  18291  26-09-2019 03:00
4  18292  26-09-2019 04:00

In [14]:
dados_treino.head()

   ID          Datetime  Count
0   0  25-08-2017 00:00      8
1   1  25-08-2017 01:00      2
2   2  25-08-2017 02:00      6
3   3  25-08-2017 03:00      2
4   4  25-08-2017 04:00      2